
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">


</head>
<body>

<div class="wrapper">
    <nav class="nav-body">
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'learning_app:home' %}">Главная {{ user.username }}</a>
                <a href="{% url 'accounts:logout' %}">Выход</a>
                <a href="{% url 'learning_app:delete' %}">Удалить старые вакансии</a>
            </p>
        {% else %}
            <a href="{% url 'accounts:login' %}">Вход</a>
            <a href="{% url 'accounts:register' %}">Регистрация</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>

</body>
</html>